.svy-wrapper > * > .bts-label {
	width : 100%;
	height: 100%;
	display: block;
}

.svy-wrapper > * > .bts-label.default-align {
	display: flex;
    align-items: center;
}

.svy-wrapper > * > .bts-label.default-align > .bts-label-icon {
	padding: 0 3px;
}
