<span class='bts-label' ng-class="[model.styleClass, model.styleClassExpression, model.imageStyleClass]"
	svy-click='handlers.onActionMethodID($event, getDataTarget($event))'
    svy-dblclick='handlers.onDoubleClickMethodID($event, getDataTarget($event))'
 	svy-rightclick='handlers.onRightClickMethodID($event, getDataTarget($event))'
 	ng-bind-html='model.text| htmlFilter| trustAsHtml:isTrustedHTML()'
	sablo-tabseq='(handlers.onActionMethodID || handlers.onDoubleClickMethodID || handlers.onRightClickMethodID) ? model.tabSeq : -2'
	ng-disabled='!model.enabled'
 	ng-if='(model.showAs == "html" || model.showAs == "trusted_html") && model.visible'
 	id="{{::model.svyMarkupId}}">
</span>
<span class='bts-label' ng-class="[model.styleClass, model.styleClassExpression, model.imageStyleClass]"
	svy-click='handlers.onActionMethodID($event, getDataTarget($event))'
    svy-dblclick='handlers.onDoubleClickMethodID($event, getDataTarget($event))'
 	svy-rightclick='handlers.onRightClickMethodID($event, getDataTarget($event))'
	sablo-tabseq='(handlers.onActionMethodID || handlers.onDoubleClickMethodID || handlers.onRightClickMethodID) ? model.tabSeq : -2'
	ng-disabled='!model.enabled'
 	ng-if='model.showAs == "text" && model.visible'
 	id="{{::model.svyMarkupId}}">{{model.text}}
</span>