<span class='bts-label' ng-class="[model.styleClass, model.styleClassExpression]"
	svy-click='handlers.onActionMethodID($event, getDataTarget($event))'
    svy-dblclick='handlers.onDoubleClickMethodID($event, getDataTarget($event))'
 	svy-rightclick='handlers.onRightClickMethodID($event, getDataTarget($event))'
 	sablo-tabseq='(handlers.onActionMethodID || handlers.onDoubleClickMethodID || handlers.onRightClickMethodID) ? model.tabSeq : -2'
	ng-disabled='!model.enabled'
	id="{{::model.svyMarkupId}}">
	<span ng-class='model.imageStyleClass'></span>
	<span 
 		ng-bind-html='model.text| htmlFilter| trustAsHtml:isTrustedHTML()'
 		ng-if='(model.showAs == "html" || model.showAs == "trusted_html") && model.visible'>
	</span>
	<span ng-if='model.showAs == "text" && model.visible'>{{model.text}}</span>
</span>