<label  class='bts-label' for='{{model.labelFor}}'
	 ng-class="[model.styleClass, model.styleClassExpression, model.imageStyleClass === 'fa' ? '' : model.imageStyleClass]"
	 ng-bind-html='model.text| htmlFilter| trustAsHtml:isTrustedHTML()'
	 ng-if='(model.showAs == "html" || model.showAs == "trusted_html") && model.visible'
	 sablo-tabseq='(handlers.onActionMethodID || handlers.onDoubleClickMethodID || handlers.onRightClickMethodID) ? model.tabSeq : -2'
	 id="{{::model.svyMarkupId}}"
>
</label>
<label  class='bts-label' for='{{model.labelFor}}'
	 ng-class="[model.styleClass, model.styleClassExpression, model.imageStyleClass === 'fa' ? '' : model.imageStyleClass]"
	 ng-if='model.showAs == "text" && model.visible'
	 sablo-tabseq='(handlers.onActionMethodID || handlers.onDoubleClickMethodID || handlers.onRightClickMethodID) ? model.tabSeq : -2'
	 id="{{::model.svyMarkupId}}"
>{{model.text}}
</label>