<span class='bts-label' ng-class="[model.styleClass, model.styleClassExpression]"
	svy-click='handlers.onActionMethodID($event, getDataTarget($event))'
    svy-dblclick='handlers.onDoubleClickMethodID($event, getDataTarget($event))'
 	svy-rightclick='handlers.onRightClickMethodID($event, getDataTarget($event))'
 	sablo-tabseq='(handlers.onActionMethodID || handlers.onDoubleClickMethodID || handlers.onRightClickMethodID) ? model.tabSeq : -2'
	ng-disabled='!model.enabled'
	ng-if='model.visible'
	svy-attributes='model.attributes'
	id="{{::model.svyMarkupId}}">
	<span class='bts-label-icon' ng-class='model.imageStyleClass' ng-if='model.imageStyleClass && model.imagePosition === "ahead"'></span>
	<label class='bts-label-text' for='{{model.labelFor}}'
 		ng-bind-html='model.text| htmlFilter| trustAsHtml:isTrustedHTML()'
	 	ng-if='model.showAs == "html" || model.showAs == "trusted_html"'>
	</label>
	<label class='bts-label-text' for='{{model.labelFor}}' ng-if='model.showAs == "text"'>{{model.text}}</label>
    <span class='bts-label-icon' ng-class='model.imageStyleClass' ng-if='model.imageStyleClass && model.imagePosition === "behind"'></span>
</span>