<input type="{{model.inputType}}"
	    ng-class='model.styleClass' class='bts-textbox'
	    ng-model="model.dataProviderID"
	    ng-disabled="!model.enabled"
	    ng-readonly="model.readOnly || !model.editable"
	    placeholder="{{model.placeholderText}}"
       	    svy-decimal-key-converter
	    svy-focusgained='handlers.onFocusGainedMethodID($event)'
	   	svy-focuslost='handlers.onFocusLostMethodID($event)'
	   	svy-enter='handlers.onActionMethodID($event)'
	   	svy-rightclick='handlers.onRightClickMethodID($event)'
      	svy-autoapply
      	ng-if='model.visible'
		sablo-tabseq='model.tabSeq'
		id="{{::model.svyMarkupId}}"
		svy-selectonenter="model.selectOnEnter"
		autocomplete="{{model.autocomplete}}"
		svy-attributes='model.attributes'/>
