<input type="{{model.inputType == 'password-with-eye' && model.showPass ? 'text' : model.inputType == 'password-with-eye' ? 'password' : model.inputType}}"
	    ng-class='model.styleClass' class="bts-textbox {{model.inputType == 'password-with-eye' ? 'svy-textbox-password-with-eye-field' : ''}}"
	    ng-model="model.dataProviderID"
		ng-model-options="{ allowInvalid: true}"
	    ng-disabled="!model.enabled"
	    ng-readonly="!model.findmode && (model.readOnly || !model.editable)"
	    placeholder="{{model.placeholderText}}"
       	    svy-decimal-key-converter
	    svy-focusgained='handlers.onFocusGainedMethodID($event)'
	   	svy-focuslost='handlers.onFocusLostMethodID($event)'
	   	svy-enter='enterPressed($event)'
	   	ng-click="onClick($event)"
	   	svy-rightclick='handlers.onRightClickMethodID($event)'
      	svy-autoapply
      	ng-if='model.visible'
		sablo-tabseq='model.tabSeq'
		id="{{::model.svyMarkupId}}"
		svy-selectonenter="model.selectOnEnter"
		autocomplete="{{autoCompleteValue()}}"
		svy-attributes='model.attributes'/>
<div id="svy-textbox-eyeDiv" ng-if="model.inputType == 'password-with-eye'"
		ng-click="showHidePass()"
		class="clickable svy-textbox-eye glyphicon {{model.showPass ? 'glyphicon-eye-open' : 'glyphicon-eye-close'}}"
		ng-class="model.styleClass">
</div>
