<div ng-class='model.styleClass' ng-if='svyServoyapi.isInDesigner()' ng-if='model.visible'>
  <label>
  	<input type="{{model.inputType}}"/>
  	 <span>Item 1</span>
  </label>
  <label>
  	<input type="{{model.inputType}}"/>
  	 <span>Item 2</span>
  </label>
  <label>
  	<input type="{{model.inputType}}"/>
  	 <span>Item 3</span>
  </label>
</div>
<div class='bts-radiogroup' ng-class='model.styleClass' ng-if='model.visible'>
  <label ng-repeat="item in model.valuelistID">
  	<input type="{{model.inputType}}" ng-model="selection[$index]"
  		ng-value="item.realValue"
  		ng-click="itemClicked($event,$index)"
        sablo-tabseq='model.tabSeq'
        svy-click='handlers.onActionMethodID($event)'
        ng-disabled="!model.enabled"/>
  	 <span ng-bind='item.displayValue'></span>
  </label>
</div>
