.bts-radiogroup label {
	display: block;
}

.svy-wrapper> * >.bts-radiogroup {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	word-break: break-all;
	margin: 0;
}		

.horizontaldirection > label{
	float:left;
	margin-right: 2px;
}				
					

.svy-wrapper> * >.bts-radiogroup label {

}