<div class='bts-radiogroup' ng-class='model.styleClass' ng-hide='!model.visible' id="{{::model.svyMarkupId}}" svy-attributes='model.attributes'>
  <label ng-repeat="item in model.valuelistID | filter:notNullOrEmpty('realValue') && notNullOrEmpty('displayValue')" ng-style="{'margin-right': '10px'}">
  	<input type="{{model.inputType}}" ng-model="selection[$index]"
  		ng-value="item.realValue"
  		ng-change="itemClicked($event,$index)"
        sablo-tabseq='model.tabSeq'
        svy-click='handlers.onActionMethodID($event)'
        svy-focusgained='handlers.onFocusGainedMethodID($event)'
        ng-disabled="model.readOnly || !model.enabled"/>
  	 <span ng-bind='item.displayValue' ng-if='model.showAs != "html" && model.showAs != "trusted_html"'></span>
  	 <span ng-bind-html='item.displayValue | htmlFilter| trustAsHtml:isTrustedHTML()' ng-if='model.showAs == "html" || model.showAs == "trusted_html"'></span>
  </label>
</div>
