<div ng-class='model.styleClass' ng-if='model.visible && showEditorHint()'>
  <label>
  	 <span>No tabs defined</span>
  </label>
</div>
<uib-tabset  id="{{::model.svyMarkupId}}" active="model.activeTabIndex" class='bts-tabpanel relativeMaxSize' ng-class='model.styleClass' style="position: relative;" ng-if='model.visible' sablo-tabseq='model.tabSeq' sablo-tabseq-config="{container: true, reservedGap: 50}"  bs-tabpanel-initializer svy-attributes='model.attributes'>
    <uib-tab ng-repeat="tab in model.tabs track by $index" ng-click="tabClicked(tab, $index, $event)" disable="tab.disabled">
      <uib-tab-heading>
        <img ng-show="tab.imageMediaID" ng-src='{{tab.imageMediaID}}'/>
        <span ng-if="tab.iconStyleClass != null" ng-class="tab.iconStyleClass"></span>
        <span ng-bind-html="tab.text| htmlFilter| trustAsHtml:servoyApi.trustAsHtml()"></span>
		<i href ng-if="tab.hideCloseIcon !== true && model.showTabCloseIcon" ng-class='(model.closeIconStyleClass ? model.closeIconStyleClass + " bts-tabpanel-close-icon" : "bts-tabpanel-close-icon")'/>
      </uib-tab-heading>
      <div ng-include="getForm(tab)" ng-class='model.containerStyleClass' ng-style='getContainerStyle()'></div>
    </uib-tab>
</uib-tabset>
<div class="absoluteTopRight" ng-show="model.visible">
  <div class="nav-scroller nav-scroller-right" ng-click="moveRight()" bs-tabpanel-button="right"><i class="glyphicon glyphicon-chevron-right"></i></div>
  <div class="nav-scroller nav-scroller-left" ng-click="moveLeft()" bs-tabpanel-button="left"><i class="glyphicon glyphicon-chevron-left"></i></div>
</div>