<textarea
	    ng-class='model.styleClass' class='bts-textarea'
	    ng-model="model.dataProviderID"
		placeholder="{{model.placeholderText}}"
	    svy-focusgained='handlers.onFocusGainedMethodID($event)'
	   	svy-focuslost='handlers.onFocusLostMethodID($event)'
	   	svy-enter='handlers.onActionMethodID($event)'
	   	svy-rightclick='handlers.onRightClickMethodID($event)'
      	svy-autoapply
      	ng-if='model.visible'
      	ng-disabled="!model.enabled"
	    ng-readonly="model.readOnly || !model.editable"
		sablo-tabseq='model.tabSeq'
		svy-attributes='model.attributes'
		id="{{::model.svyMarkupId}}"
		maxlength="{{model.maxLength}}"
	    >
</textarea>
