.svy-wrapper > * > .bts-calendar {
	width: 100%;
	height: 100%;
}

.svy-wrapper > * > .bts-calendar input {
	height: 100%;
	padding: 0px 5px;
}

.svy-wrapper > * > .bts-calendar .input-group-addon {
	padding: 0 3px;
}