<div class='bts-list'>
	<input
			svy-enter='handlers.onActionMethodID($event)'
			svy-focusgained='handlers.onFocusGainedMethodID($event)'
			svy-focuslost='handlers.onFocusLostMethodID($event)'
			placeholder="{{model.placeholderText}}"
			type="text"
			list="{{::model.svyMarkupId}}_datalist"
			svy-change='onChange()'
			ng-class='model.styleClass'
			ng-if='model.visible'
			ng-init="inputRenderFinished()"
			ng-disabled="!model.enabled"
			sablo-tabseq='model.tabSeq'
			ng-readonly="model.readOnly || !model.editable"
			svy-attributes='model.attributes'
			id="{{::model.svyMarkupId}}"/>

	<datalist id="{{::model.svyMarkupId}}_datalist">
		<!--[if lte IE 9]><select data-datalist="{{::model.svyMarkupId}}_datalist"><![endif]-->
		<option ng-selected="model.dataProviderID === value.realValue" ng-repeat="value in model.valuelistID" 
			value="{{value.realValue | bcShowDisplayValue:model.valuelistID:true}}" ng-init="$last && renderFinished()">
		</option>
		<!--[if lte IE 9]></select><![endif]-->
	</datalist>
</div>