<div class='bts-check' ng-class='model.styleClass' ng-if='model.visible'>
	<label>
		<input type="checkbox"
					ng-model ="selection.value"
					sablo-tabseq='model.tabSeq'
					ng-click="checkBoxClicked()"
					svy-click='handlers.onActionMethodID($event)'
					svy-focusgained='handlers.onFocusGainedMethodID($event)'
					svy-focuslost='handlers.onFocusLostMethodID($event)'
					ng-disabled="model.readOnly || !model.enabled"
					id="{{::model.svyMarkupId}}"
					/>
		 <span ng-bind="model.text"  ng-if='model.showAs != "html" && model.showAs != "trusted_html"'/>
		 <span ng-bind-html='model.text| htmlFilter| trustAsHtml:isTrustedHTML()' ng-if='model.showAs == "html" || model.showAs == "trusted_html"'></span>
	</label>
</div>
