.svy-wrapper > * > .bts-list {
	width: 100%;
	height: 100%;
}

.svy-wrapper > * > .bts-list input {
	height: 100%;
	padding: 0px 5px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: gray !important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: gray !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: gray !important;
}