<span class='bts-datalabel' ng-class="[model.styleClass, model.styleClassExpression, model.imageStyleClass === 'fa' ? '' : model.imageStyleClass]"
	svy-click='handlers.onActionMethodID($event)'
    svy-dblclick='handlers.onDoubleClickMethodID($event)'
 	svy-rightclick='handlers.onRightClickMethodID($event)'
 	ng-bind-html='model.dataProviderID | formatFilter:model.format.display:model.format.type| designFilter:servoyApi.isInDesigner() | htmlFilter | trustAsHtml:isTrustedHTML()'
	sablo-tabseq='(handlers.onActionMethodID || handlers.onDoubleClickMethodID || handlers.onRightClickMethodID) ? model.tabSeq : -2'
	ng-disabled='!model.enabled'
    ng-if='(model.showAs == "html" || model.showAs == "trusted_html") && model.visible'
 	id="{{::model.svyMarkupId}}">
</span>

<span class='bts-datalabel' ng-class="[model.styleClass, model.styleClassExpression, model.imageStyleClass === 'fa' ? '' : model.imageStyleClass]"
    svy-click='handlers.onActionMethodID($event)'
    svy-dblclick='handlers.onDoubleClickMethodID($event)'
    svy-rightclick='handlers.onRightClickMethodID($event)'
    ng-bind='model.dataProviderID | formatFilter:model.format.display:model.format.type| designFilter:servoyApi.isInDesigner()'
    sablo-tabseq='(handlers.onActionMethodID || handlers.onDoubleClickMethodID || handlers.onRightClickMethodID) ? model.tabSeq : -2'
    ng-disabled='!model.enabled'
    ng-if='model.showAs == "text" && model.visible'
    id="{{::model.svyMarkupId}}">
</span>