<select 	svy-change='onChange($event)'
			svy-focusgained='handlers.onFocusGainedMethodID($event)'
			svy-focuslost='handlers.onFocusLostMethodID($event)'
			ng-class='model.styleClass' class='bts-select'
			ng-if='model.visible'
			ng-disabled="model.readOnly || !model.enabled"
			sablo-tabseq='model.tabSeq'
			svy-autoapply
			id="{{::model.svyMarkupId}}">
			<option ng-if="model.valuelistID && model.valuelistID.length && model.valuelistID[0].realValue" ng-selected="!isDPInValueList()" disabled></option>
			<option ng-selected="model.dataProviderID === value.realValue" ng-repeat="value in model.valuelistID" value="{{value.realValue}}" 
					ng-bind-html="value.realValue | bcShowDisplayValue:model.valuelistID">
			</option>
</select>