<div style='height:100%;width:100%;position:absolute;' svy-attributes='model.attributes'>
	<div uib-accordion close-others="true" sablo-tabseq='model.tabSeq' sablo-tabseq-config="{container: true, reservedGap: 50}" ng-class='(model.styleClass ? model.styleClass : "")  + " bts-accordion"'>
		<div uib-accordion-group ng-repeat="tab in model.tabs" is-disabled="tab.disabled" is-open="tab.active">
			<uib-accordion-heading>
				<span ng-bind-html='tab.text| htmlFilter| trustAsHtml:servoyApi.trustAsHtml()' ng-click="select(tab)"></span>
			</uib-accordion-heading>
			<div ng-style="viewportStyle">
				<div ng-include="getActiveForm(tab)" sablo-tabseq='1' sablo-tabseq-config="{container: true}" ng-class='model.containerStyleClass' style="position:relative;left:0px;top:0px;width:100%;height:100%;overflow:auto;"></div>
			</div>
		</div>
	</div>
</div>