<button type="button" class='bts-button' ng-class="model.styleClass"
    ng-if='model.showAs !== "html" && model.showAs !== "trusted_html" && model.visible'
	svy-click='handlers.onActionMethodID($event)'
    svy-dblclick='handlers.onDoubleClickMethodID($event)'
 	svy-rightclick='handlers.onRightClickMethodID($event)'
	sablo-tabseq='model.tabSeq'
	ng-disabled="!model.enabled"
 	id="{{::model.svyMarkupId}}">
          <span ng-class="model.imageStyleClass" aria-hidden="true"></span> {{model.text}}
</button>

<button type="button" class='bts-button' ng-class="model.styleClass"
    ng-if='(model.showAs === "html" || model.showAs === "trusted_html") && model.visible'
	svy-click='handlers.onActionMethodID($event)'
    svy-dblclick='handlers.onDoubleClickMethodID($event)'
 	svy-rightclick='handlers.onRightClickMethodID($event)'
	sablo-tabseq='model.tabSeq'
	ng-disabled="!model.enabled"
    ng-bind-html='model.text | htmlFilter| trustAsHtml:isTrustedHTML()'
 	id="{{::model.svyMarkupId}}">
</button>
